@page "/"
@using ChickenTinder.Client.Data
@inject NavigationManager nav
@inject ServerConnection _server;


<div class="center-all">
    <img src="/icon-192.png" style="margin-top: 20px" />
</div>
<h1 class="center-all" style="margin-top: 50px">Chicken Tinder</h1>
<p class="center-all">Find Single Restaurants Near You</p>

<div class="footer">
    <div class="center-all">
        <p>Host or Enter Code</p>
    </div>
    <div class="center-all">
        <input class="textbox" placeholder="Code" @bind-value="@Code" />
    </div>
    <div class="center-bottom">
        <button class="btn" @onclick="Join">@JoinText</button>

    </div>
</div>


@code {
    private string? _code;
    public string? Code
    {
        get => _code; set
        {
            if (!string.IsNullOrWhiteSpace(value))
            {
                JoinText = "Join";
            }
            else
            {
                JoinText = "Host";
            }
            _code = value;
        }
    }
    public string JoinText { get; set; } = "Host";

    public async void Join()
    {
        if (string.IsNullOrWhiteSpace(Code))
        {
            await _server.CreateRoom();
        }
        else
        {
            await _server.JoinRoom(int.Parse(Code));
        }

        //create the room...
        nav.NavigateTo("/room");
    }
}
