@page "/match/{roomid:int}"
@using ChickenTinder.Client.Data
@using ChickenTinder.Shared.Models
@inject ServerConnection ServerConnection

<div class="alert alert-success text-center fa-2xl" role="alert">
  It's a Match! <i class="fa-solid fa-champagne-glasses"></i>
</div>
<div class="pyro">
  <div class="before"></div>
    <Card Restaurant="Room?.WinningRestaurant" />
  <div class="after"></div>
</div>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Let's Go to @RestaurantName!</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Great choice! Now let's do this!</h6>
                    <p class="card-text text-center">
                        <i class="fa-solid fa-burger fa-2xl"></i> <i class="fa-solid fa-thumbs-up pe-3"></i>
                        <i class="fa-solid fa-bowl-rice fa-2xl"></i> <i class="fa-solid fa-heart pe-3"></i>
                        <i class="fa-solid fa-mug-hot fa-2xl"></i> <i class="fa-solid fa-thumbs-up pe-3"></i>
                    </p>
                    <button type="button" class="btn btn-primary">Get Directions</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int RoomID { get; set; }

    private DiningRoom? Room { get; set; }
    private string RestaurantName { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Room = await ServerConnection.GetRoom(RoomID);
        if (Room != null)
        {
            Room = ServerConnection.Room;
            RestaurantName = Room?.WinningRestaurant?.Name == null ? "" : Room.WinningRestaurant.Name;
        }
    }
}
