@page "/match"

<div class="alert alert-success" role="alert">
  It's a Match! <i class="fa-solid fa-party-horn"></i>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Let's Eat'</h5>
    <h6 class="card-subtitle mb-2 text-muted">Great choice! Now do this!</h6>
    <p class="card-text">
        <i class="fa-solid fa-fork-knife"></i>
        <i class="fa-solid fa-pot-food"></i>
        <i class="fa-solid fa-mug-hot"></i>
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

@code {

}
