@page "/swipe/{Id}/join/{UserId}"
@page "/swipe"
@inject ServerConnection server

<div class="header-right">
    <UserBadge User="server.CurrentUser"></UserBadge>
</div>
<SwipeList>
</SwipeList>
@code {
    [Parameter]
    public int UserId { get; set; }
    [Parameter]
    public int Id { get; set; }

}
