@inject ServerConnection server
@inject NavigationManager nav 
<div class="header-right">
    <UserBadge User="@server.User" Width="64"></UserBadge>
</div>
<div class="header-left">
    <a @onclick="Home"><img src="icon-96.png" width="64" height="64"/></a> 
</div>

@code {
    protected override void OnInitialized()
    {
        server.OnUserChanged = () => StateHasChanged();
        base.OnInitialized();
    }
    public void Home(){
        nav.NavigateTo("/");
    }
}